#contacto {
    margin-bottom: 4rem;
    scroll-margin-top: 14em;

    .contacto {
        margin-top: 5rem;
        display: flex;
        justify-content: center;

        .img-contacto {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70rem;

            img {
                width: 100%;
            }
        }
    }



    h2 {
        margin-bottom: 3rem;
    }

    .formulario {
        width: 100%;

        input,
        select {
            border-radius: 50px;
            background: #EDF6FB;
            height: 5.4rem;
            width: 70rem;
            margin: 0.5rem 0;
            font-size: 1.4rem;
            border: none;
        }

        select {
            color: gray;
            padding-left: 10px;
            border: none;
        }

        input::placeholder,
        textarea::placeholder {
            padding-left: 10px;
            font-size: 1.4rem;
        }

        textarea::placeholder {
            padding-top: 10px;
        }

        textarea {
            background: #EDF6FB;
            width: 70rem;
            border-radius: 20px;
            height: 20rem;
            border: none;
        }


        label {
            color: #37A2CE;
            font-family: titilium-bold;
            font-size: 1.8rem;

        }

        button {
            margin-top: 2rem;
        }

        .section-form {
            display: flex;
            margin: 2rem 0;
        }

        .label-form {
            display: flex;
            flex-direction: column;

            input {
                width: 34rem;
            }

            .margin-input {
                margin-right: 2rem;
            }

        }
    }
}

@media (max-width: 1430px) {
    .img-contacto {

        width: 60rem !important;
    }
}

@media (max-width: 1330px) {
    .img-contacto {

        width: 50rem !important;
    }
}

@media (max-width: 1330px) {
    .img-contacto {

        width: 45rem !important;
    }
}

@media (max-width: 1200px) {
    .contacto {
        .row {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .img-contacto{
            img{
                display: none !important;
            }
        }


        .formulario {
            input,
            select {
                height: 5.4rem;
                width: 100% !important;
                margin: 0.5rem 0;
                font-size: 1.4rem;
            }


            textarea {
                width: 100% !important;
                height: 20rem;
            }

            .label-form {
                width: 100%;

                input {
                    width: 100%;
                }
            }
        }

    }
}
