#distribuidores {
    h3 {
        font-size: 1.8rem;
    }

    .action-distribuidores {
        margin-bottom: 4rem;

        button {
            height: 5rem;
            margin: 0 1rem;
        }
    }

    p {
        margin-top: 1.8rem;
        text-align: center;
    }


    .distribuidores-logos {
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .col-sm-6,
        .col-md-4 {
            display: flex;
            justify-content: center;
        }

        img {
            margin: 2rem;
        }
    }
}


@media (max-width: 455px) {

    .buttons-distribuidores{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            button{
                margin: 1rem 0 !important; 
            }
           
    }
}


// FORMA PARTE

.forma-parte {
    h2 {
        color: white;
        padding-top: 6rem;
        text-align: center;
    }

    p {
        padding: 0 2rem;
        margin-top: 2rem;
        color: white;
    }

    background-color: #37A2CE;

    .button-forma-parte {
        display: flex;
        justify-content: center;
    }

    .redes-distribuidores {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        margin-top: 1.5rem;

    }

    button {
        height: 5rem;
        margin: 2rem 0;
    }

    a {
        margin: 0 1.5rem;
    }
}

// SER DISTRIBUIDOR

#ser-distribuidor{
    background-color: #EDF6FB ;
    padding: 5rem 0;
    p{
        margin: 4rem 0;
    }
}

@media (max-width: 570px) {
    #ser-distribuidor{    
        padding: 5rem 4rem;
        p{
            margin: 4rem 0;

        
        }
    }

}