// DTF

#dtf-products {
    .col-lg-4 {
        padding-left: 7%;
    }

    h3 {
        text-align: left !important;
        padding-left: 7%;
    }

    h4 {
        color: #37A2CE;
    }

    .dtf-columns {
      
            display: flex;
            align-items: center;
            margin-top: 4rem;

            .col-lg-6 {
                padding-left: 7%;
            }
        }





    }