header {
    padding-top: 9rem;

    img {
        width: 100%;
    }
}

.hero-mobile,
.hero-tablet {
    display: none !important;
}


@media(max-width: 768px) {
    .hero-tablet {
        display: inherit !important;
    }

    .hero-desktop {
        display: none !important;
    }
}

@media(max-width: 520px) {

.hero-tablet{
    display: none !important;
}
    .hero-mobile {
        display: inherit !important;
    }
}

@media(max-width: 435px) {
    header {
        padding-top: 17rem !important;
    }
}