.navbars {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    padding: 0 !important;
    box-shadow: #37A2CE 1px 1.5px 1px;

}

.nav1 {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100% !important;
    padding: 1.5rem 0;
    z-index: 1111;

    .navbar-toggler {
        width: 60px;
    }

    .navbar-nav {
        width: 100% !important;
        display: flex;
        justify-content: end;

    }

    li {
        height: 5.4rem;
        border-radius: 3rem;
        margin: 0 !important;
        margin: 0 18px !important;

        a {
            text-align: center;
            padding-top: 1.2rem;

        }
    }

    .li-contact {
        background-color: #37A2CE;
        width: 11rem;

        a {
            color: white;
        }




    }

}

.nav2 {
    width: 100% !important;
    z-index: 1;
    display: flex;
    justify-content: end;
    padding: 0 !important;

    .dropdown-menu {
        li {
            margin: 0 3rem;
            border-bottom: #37A2CE 1px solid;
        }
    }

    .navbar-nav {
        width: 100% !important;
        display: flex;
        justify-content: end;
    }

    .container-fluid {
        background-color: #B5DBEC;
    }

    .nuestros-insumos {
        font-size: 1.8rem;
        font-weight: bold;

    }

    li {
        margin: 0 11.3rem;
    }
}

@media (max-width: 1200px) {
    .nav1 {
        padding-bottom: 0.5rem;
        .navbar-nav {
            background-color: white;
            height: auto;
            flex-direction: column;
            align-items: center;
            z-index: 1;
            position: fixed;
            width: 100%;
            left: 0;
            padding-bottom: 0.5rem;
        }
    }
}

@media (max-width: 992px) {


    .nav2 {
        justify-content: left;

        .navbar-nav {
            .nav-item {
                margin: 0 4rem !important;
            }
        }

        .navbar-brand {
            display: none;
        }

        .dropdown-menu {
            width: 15rem !important;

            li {
                margin: 0 !important;
                text-align: center;
            }
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;


        }

        .nav2 li {
            margin: 0 !important;
        }
    }

}

@media (max-width: 485px) {

    .logo-navbar {
        width: 12rem !important;
    }

    .nav2 {
        .navbar-nav {
            flex-direction: column !important;

            .nav-item {
                margin: 0rem !important;
            }
        }

    }

}