.navbars {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed !important;
    top: 0 !important;
    z-index: 1;
    width: 100%;

}

.nav1 {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100% !important;
    z-index: 1;

    .navbar-toggler {
        width: 60px;
    }

    .navbar-nav {
        display: flex;
        justify-content: end;

    }

    li {
        height: 5.4rem;
        border-radius: 3rem;
        margin: 0 !important;
        margin: 0 18px !important;

        a {
            text-align: center;
            padding-top: 1.2rem;

        }
    }

    .li-contact {
        background-color: #37A2CE;
        width: 11rem;

        a {
            color: white;
        }




    }

}

.nav2 {
    width: 100% !important;
    z-index: 1;
    display: flex;
    justify-content: center;

    .container-fluid {
        background-color: #B5DBEC;
    }

    .nuestros-insumos {
        font-size: 1.8rem;
        font-weight: bold;

    }

    li {
        margin: 0 11rem;
    }
}



@media (max-width: 992px) {
    .nav1 {

        .navbar-nav {
            background-color: white;
            height: auto;
            flex-direction: column;
            align-items: center;
            z-index: 1;
            position: fixed;
            width: 100%;
            left: 0;
        }
    }

    .nav2 {
        justify-content: center;

        .navbar-brand {
            display: none;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                margin: 0 !important;
            }
        }
    }

}