

.nav1 {
    height: 9.5rem;
    display: flex;
    align-items: center;
    background-color: white;

    li {
        height: 5.4rem;
        border-radius: 3rem;

        a {
            text-align: center;
            padding: 1.2rem;

        }
    }
    .li-contact {
        background-color: #37A2CE;
        width: 11rem;

        a {
           color: white;
        }




    }
  
}

.nav2 {
    background-color: #B5DBEC;
    height: 4.5rem;
.nuestros-insumos{
    font-size: 1.8rem;
    font-weight: bold;

}
    li {
        margin: 0 11rem 0 11rem;
    }
}