// PRODUCTOS
#tintas-sublimacion,
#papeles-sublimacion,
#subli-protector,
#subli-plotter,
#dtf-products,
#transfer-products,
#plotter-products,
.top-products,
#fotografico-magnetico,
#fotografico-autoadhesivo,
#fotografico-resinado {
    margin-top: 8rem;

    .detail {
        padding-left: 7%;

        h2 {
            font-size: 3.4rem;
            color: black;
        }

        h3 {
            margin-bottom: 2rem;
            font-size: 2rem;
            color: #37A2CE;
        }
    }

    .description {
        padding: 0;

        .caracteristicas {
            display: flex;
            align-items: center;
            background-color: #B5DBEC;
            height: 146px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            display: flex;
            align-items: center;
            width: 100% !important;

            li {
                margin: 1.3rem;
            }
        }
    }

    .icons {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3rem;

            li {
                display: flex;
                align-items: center;
                width: 16rem;
                margin-top: 1rem;
            }

            h4 {
                color: #37A2CE;
                font-size: 1.8rem;
                margin-left: 1rem;
            }
        }
    }

    .products {
        margin-top: 6rem;
        margin-bottom: 2rem;

        .col-lg-6 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 3rem;

            .left{
                padding-left: 7%;
            }

            img {
                max-width: 85%;
            }
        }

        .right h3 {
            margin-bottom: 1rem;
            font-size: 2.3rem;
            color: #37A2CE;
        }

        .papeles-right {
            margin-top: 5rem;
        }

        .dtf-columns {
            col {
                .title-products {
                    display: flex;
                    justify-content: center;
                    margin-left: 25%;

                    .ico-h4 {
                        margin-left: 45%;
                    }
                }
            }

        }

        .products-subtitles {
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 0.5rem;

            h4 {
                color: black;
                font-size: 1.4rem;
                margin: 0 2rem;
            }


            .subtitulo1 {
                color: #37A2CE;
                font-family: titilium-bold;
            }

        }


        li {
            color: #37A2CE;
            font-size: 1.6rem;
        }

        // PAPELES - PLOTTER
        .ul-products,
        .ul-azul {
            display: flex;
            justify-content: start;
            padding: 0;
            margin: 0 1rem;

            .products-a {
                display: flex;
                align-items: start;
                margin: 1.5rem 0.5rem;

                h4 {
                    color: #37A2CE;
                    font-size: 1.6rem;
                }
            }

            .products-b {
                display: flex;
                align-items: start;
                margin: 1.5rem 0.5rem;
                height: 8rem;

                p {
                    color: #37A2CE;
                    font-size: 1.6rem;
                }

            }

            .products-c {
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 1.5rem 0.5rem;
            }

        }



    }
}

// PLOTTER
.plotter-banner {
    display: flex;
    justify-content: end;
    padding-left: 7%;
}

// LINE
.line {
    height: 2px;
    width: 100%;
    background: #37A2CE;

}



// PRODUCT AZUL - UL-AZUL - UL-PRODUCTS

.product-azul {
    display: flex;
    align-items: center;
    padding-left: 7%;
}

.ul-azul {
    display: flex;
    background-color: #B5DBEC;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    .point-ul-azul {
        margin-right: 0.5rem;
    }

    li {
        color: black;
    }

    p {
        margin-left: 0.5rem !important;
    }

    h4,
    p {
        color: #1F2F36 !important;
        font-size: 1.6rem;
    }
}

.ul-products,
.ul-azul {
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0 1rem;

    .products-a {
        display: flex;
        align-items: start;
        margin: 1.5rem 0.5rem;

        h4 {
            color: #37A2CE;
            font-size: 1.6rem;
        }
    }

    .products-b {
        display: flex;
        align-items: start;
        margin: 1.5rem 0.5rem;
        height: 8rem;

        p {
            color: #37A2CE;
            font-size: 1.6rem;
        }

    }

    .products-c {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 1.5rem 0.5rem;
    }

}



@media (max-width : 1278px) {
    .products {

        .ul-azul,
        .ul-products {
            .products-a {
                height: 3rem;
            }

            .products-b {
                height: 9rem !important;
            }
        }
    }

}

@media (max-width: 991px) {
    .description {
        padding-left: 6% !important;
    }

    .icons {
        ul {
            flex-wrap: wrap;
            margin: 1rem 0 !important;

            li {
                margin: 1rem;

                img {
                    width: 4rem !important;
                }

                h4 {
                    font-size: 1.6rem !important;
                }
            }
        }
    }

    .detail {
        h2 {
            text-align: left;
        }
    }

    .products {
        .papeles-right {
            margin-top: 2rem;
        }

        .col-lg-6 {
            align-items: center;

            .right,
            .left {
                img {
                    width: 70%;
                }
            }

        }

    }

}

@media (max-width: 800px) {
    .detail {
        p {
            display: none;
        }
    }
}

@media (max-width : 510px) {
    .products {

        .ul-azul,
        .ul-products {
            .products-a {
                h4 {
                    font-size: 1.4rem !important;
                }
            }

            .products-b {
                p {
                    font-size: 1.4rem !important;
                }
            }
        }
    }
}

@media (max-width: 590px) {
    .caracteristicas {

        li {
            font-size: 1.5rem;
        }
    }
}

@media (max-width : 420px) {
    .products {

        .ul-azul,
        .ul-products {

            .products-b {
                height: 11rem !important;
            }
        }
    }
}

@media (max-width: 395px) {
    .description {
        .caracteristicas {

            li {
                font-size: 1rem;
            }
        }
    }

    .products {

        .ul-azul,
        .ul-products {
            .products-a {
                h4 {
                    font-size: 1.2rem !important;
                }
            }

            .products-b {
                p {
                    font-size: 1.2rem !important;
                }
            }

            .products-c {
                img {
                    width: 3rem !important;
                }
            }
        }
    }
}