// PRODUCTOS
#fotografico-mate,
#fotografico-glossy,
#fotografico-magnetico,
#fotografico-resinado,
#fotografico-autoadhesivo,
#papeles-transfer {
    scroll-margin-top: 18em !important;

    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;

        .col-lg-6 {
            display: flex;
            justify-content: center;
        }

        .img-fluid {
            width: 650px;
        }

        .right {
            margin-top: 7.5rem !important;

        }
    }
}

.row {
    width: 100%;
}

#papeles-sublimacion {
    .contenedor {
        margin: 4rem 0;
    }
}

#tintas-sublimacion,
#papeles-sublimacion,
#subli-protector,
#subli-plotter,
#dtf-products,
#transfer-products,
#plotter-products,
.top-products,
#fotografico-magnetico,
#fotografico-autoadhesivo,
#fotografico-resinado {
    margin-top: 8rem;
    scroll-margin-top: 12em !important;

    .detail {
        padding-left: 7%;

        h2 {
            font-size: 3.4rem;
            color: black;
        }

        h3 {
            margin-bottom: 2rem;
            font-size: 2rem;
            color: #37A2CE;
        }

        p {
            padding-right: 1rem;
        }
    }

    .description {
        padding: 0;

        .caracteristicas,
        .caracteristicas-resinado {
            display: flex;
            align-items: center;
            background-color: #B5DBEC;
            height: 146px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            display: flex;
            align-items: center;
            width: 100% !important;

            li {
                margin: 1.3rem;
                font-size: 1.7rem;
            }
        }

        .caracteristicas-resinado {
            li {
                font-size: 1.45rem;
                margin: 0 0.8rem;
            }
        }

    }


    .icons {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;

        .line {
            margin: 0 !important;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 !important;
            margin: 0 !important;


            li {
                display: flex;
                align-items: center;
                width: 16rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }

            h4 {
                color: #37A2CE;
                font-size: 1.8rem;
                margin-left: 1rem;
            }
        }
    }

    .products {
        width: 100%;

        .left,
        .left2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .left2 {
            margin-top: 3rem;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            margin-top: 3.5rem;

            .line {
                margin: 0.2rem !important;
            }

            h3 {
                margin-bottom: 1rem;
                font-size: 2.3rem;
                color: #37A2CE;
            }

        }

        .products-subtitles {
            display: flex;
            align-items: center;
            justify-content: left;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 26rem;
                margin: 0 0.5rem;
            }

            h4 {
                color: black;
                font-size: 1.4rem;
                margin: 0 1rem;
            }


            .subtitulo1 {
                color: #37A2CE;
                font-family: titilium-bold;
            }

        }

        // PAPELES - PLOTTER
        .ul-products,
        .ul-azul {
            display: flex;
            justify-content: start;
            padding: 0;
            margin: 0 1rem;

            .products-a {
                display: flex;
                align-items: start;
                margin: 1.5rem 0.5rem;
                max-width: 24rem;

                h4 {
                    color: #37A2CE;
                    font-size: 1.6rem;
                }
            }

            .products-b,
            .products-b-plotter {
                display: flex;
                align-items: start;
                margin: 1.5rem 0.4rem;
                height: 10rem !important;
                max-width: 24rem;

                p {
                    color: #37A2CE;
                    font-size: 1.6rem;
                }

            }

            .products-b-plotter {
                height: 8rem !important;
            }

            .products-c {
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 1.5rem 0.5rem;
                max-width: 24rem;
            }

        }
    }
}


// PLOTTER
#subli-plotter {
    margin-top: 2rem;

    .row {
        margin: 3rem 0;
    }
}

.plotter-banner {
    display: flex;
    justify-content: end;
    padding-left: 7%;
}

// PROTECTOR

#subli-protector {
    margin-top: 2rem;

    .right {
        margin-top: 4rem !important;
    }

    .slider {
        margin-top: 1rem;
    }
}

.h4-protector {
    color: #37A2CE !important;
    font-family: titilium-bold;
    font-size: 1.6rem !important;
}

// LINE
.line {
    height: 2px;
    width: 100%;
    background: #37A2CE;
}


// TRANSFER
.img-top-transfer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 1rem;

    img {
        margin: 0 0.5rem;
        width: 8rem;
    }

    .img-ycmn {
        width: 15rem;
    }
}

.cols-transfer {
    margin: 3.5rem 0;

    .line {
        margin: 0 !important;
    }

    .right {
        margin-top: 7rem;

        .ul-products {
            .products-b {
                height: 7rem !important;
            }
        }

    }

    .col-lg-6 {
        display: flex;
        flex-direction: column;
        align-items: left;

        .products-subtitles {
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 1rem;

            img {
                width: 5.5rem;
                margin-right: 0.5rem;
            }

            h4 {
                color: black;
            }
        }
    }

}

// FOTOGRAFICO MATE

.products-mate {
    .col-lg-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

// PRODUCT AZUL - UL-AZUL - UL-PRODUCTS

.product-azul {
    display: flex;
    align-items: center;
    margin: 8rem 0 !important;

    .col-lg-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left {
        padding-left: 4%;
    }

    h3 {
        font-family: titilium-bold;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}

.point-ul-azul {
    padding-right: 0.5rem !important;
}

.ul-azul {
    display: flex;
    background-color: #B5DBEC;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;



    li {
        color: black;
    }

    p {
        margin-left: 0.5rem !important;
    }

    h4,
    p {
        color: #1F2F36 !important;
        font-size: 1.6rem;
    }
}

.ul-products,
.ul-azul {
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 1.2rem;

    .products-a {
        display: flex;
        align-items: start;
        margin: 1rem 0.5rem;
        max-width: 20rem;

        h4 {
            color: #37A2CE;
            font-size: 1.6rem;
        }
    }

    .products-b {
        display: flex;
        align-items: start;
        margin: 1.5rem 0.5rem;
        height: 8rem;
        max-width: 20rem;

        p {
            color: #37A2CE;
            font-size: 1.6rem;
        }

    }

    .products-c,
    .products-c-carga {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 1.5rem 0.5rem;
        max-width: 20rem;
    }

}



@media (max-width : 1350px) {
    .products-subtitles {
        img {
            width: 5.5rem;
        }
    }

    .cols-transfer {
        .products-subtitles {
            img {
                width: 5rem !important;
            }

            h4 {
                font-size: 1.6rem;
            }
        }
    }
}

@media (max-width : 1278px) {

    .products,
    .product-azul {

        .ul-azul,
        .ul-products {
            .products-a {
                height: 3rem;
            }

            .products-b {
                height: 11rem !important;
            }
        }
    }

}


@media (max-width: 991px) {
    .description {
        padding-left: 6% !important;
    }

    .icons {
        ul {
            flex-wrap: wrap;
            margin: 1rem 0 !important;

            li {
                margin: 1rem;

                img {
                    width: 4rem !important;
                }

                h4 {
                    font-size: 1.6rem !important;
                }
            }
        }
    }

    .detail {
        h2 {
            text-align: left;
        }
    }

    .products .product-azul {
        .papeles-right {
            margin-top: 2rem;
        }

        .products-b {
            height: 8rem !important;
        }

        .col-lg-6 {
            align-items: center;

            .right,
            .left {
                img {
                    width: 70%;
                }
            }

        }

    }

    .products {

        .left,
        .left2 {
            margin-bottom: 1rem;
            padding: 0 7rem !important;
            margin-top: 4rem;
        }

        .right {
            padding: 0 7rem !important;
            margin-top: 0;
        }

        .ul-azul,
        .ul-products {
            .products-a {
                height: 2rem;
            }

            .products-b {
                height: 8rem !important;
            }
        }

    }

    .img-top-transfer {
        margin-top: 3rem;
        justify-content: space-around;

    }


    .cols-transfer {
        .right {
            margin-top: 1.5rem !important;
        }

        .col-lg-6 {
            align-items: center;

            .img-fluid {
                width: 700px;

            }
        }
    }
}

@media (max-width: 800px) {
    .detail {
        p {
            font-size: 1.5rem;
        }
    }

}

@media (max-width: 768px) {
    #fotografico-glossy {
        .flex-column-center {
            .img-fluid {
                width: 550px !important;
            }
        }
    }

}

@media (max-width: 720px) {
    .products-subtitles {
        img {
            width: 4.5rem;
        }

        .buje {
            width: 3rem;
        }
    }

    .caracteristicas-resinado {
        li {
            font-size: 1.3rem !important;
            margin: 0 0.6rem !important;
        }

    }
}


@media (max-width : 580px) {
    .products {

        .left,
        .left2 {
            margin-bottom: 1rem;
            padding: 0 2rem !important;
        }

        .right {
            padding: 0 2rem !important;
        }
    }

    .caracteristicas {
        li {
            font-size: 1.4rem !important;
        }
    }

    .caracteristicas-resinado {
        li {
            font-size: 1.15rem !important;
            margin: 0 0.4rem !important;
        }

    }

    .products,
    .product-azul {

        .ul-azul,
        .ul-products {
            .products-a {
                h4 {
                    font-size: 1.4rem !important;
                }
            }

            .products-b {
                margin-bottom: 3rem !important;
                height: 7rem !important;

                p {
                    font-size: 1.4rem !important;
                }
            }

            .products-c-carga {
                img {
                    width: 12rem !important;
                }
            }
        }
    }

    .products-subtitles {
        text-align: center;

        .flex-center {
            flex-direction: column;
        }

        div {
            flex-direction: column;
            align-items: center;
        }
    }

    .img-top-transfer {
        img {
            width: 5rem;
            margin: 0 0.2rem;
        }

        .img-ycmn {
            width: 10rem;
        }
    }
}

@media (max-width : 487px) {
    .caracteristicas {

        li {
            font-size: 1.15rem !important;
        }
    }

    .caracteristicas-resinado {


        .none-resinado {
            display: none;
        }

    }

    .products-subtitles {
        h4 {
            font-size: 1.2rem !important;
        }
    }

    .description {
        .caracteristicas {
            height: 110px !important;

            li {
                font-size: 1.15rem;
            }
        }
    }

    .products,
    .product-azul {

        .ul-azul,
        .ul-products {
            .products-a {
                h4 {
                    font-size: 1.2rem !important
                }
            }

            .products-b,
            .products-b-plotter {
                p {
                    font-size: 1.2rem !important;
                }

                height: 7rem !important;
            }

            .products-c {
                img {
                    width: 3.5rem !important;
                }
            }

        }
    }
}

@media (max-width: 410px) {

    .caracteristicas {

        li {
            font-size: 1.1rem !important;
            margin: 0 0.5rem !important;
        }
    }

    .caracteristicas-resinado {
        li {
            font-size: 1rem !important;
            margin: 0 0.3rem !important;
        }
    }

    .products,
    .product-azul {

        .ul-azul,
        .ul-products {
            .products-a {
                h4 {
                    font-size: 1.1rem !important;
                }
            }

            .products-b {
                p {
                    font-size: 1.1rem !important;
                }
            }

            .products-c {
                img {
                    width: 3rem !important;
                }
            }
        }
    }

    .img-top-transfer {
        img {
            width: 4rem;
            margin: 0 0.2rem;
        }

        .img-ycmn {
            width: 9rem;
        }
    }
}

@media (max-width: 341px) {
    .caracteristicas {

        li {
            font-size: 1.05rem !important;
            margin: 0 0.2rem !important;
        }
    }
}