// RESETS

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;


    h1 {}

    h2 {
        font-family: titilium-bold;
        font-size: 3.6rem;
        color: #37A2CE;
    }

    h3 {
        font-family: titilium;
        font-size: 2.4rem;
    }

    h4 {
        font-family: titilium;
        font-size: 2rem;
        color: white;
    }

    h5 {
        font-family: titilium;
        font-size: 1.8rem;


    }

    p {
        font-family: titilium;
        font-size: 1.6rem;
    }

    a {
        font-family: titilium;
        font-size: 1.8rem;
        text-decoration: none;
    }

    li {
        font-size: 1.8rem;
        margin: 0 3rem 0 3rem;
        list-style: none;
    }

    button {
        font-family: titilium;
        font-size: 2rem;
        color: #37A2CE;
        width: 20rem;
        height: 4rem;
        border-radius: 40px;
        border: 1.5px solid var(--celeste-artanium, #37A2CE);
        background: rgba(255, 255, 255, 0.00);
    }

    .button-celeste,
    .button-celeste-blank {
        background-color: #37A2CE;
        color: white;
    }

    .button-celeste-blank {
        border: white solid 1px;
    }

}

.margin-title {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.p-bold {
    font-family: titilium-bold;
}

.p-left{
    margin-left: 20% !important;
}

.text-center {
    text-align: center;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

// FONTS

@font-face {
    font-family: "titilium";
    src: url(/public/fonts/TitilliumWeb-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "titilium-bold";
    src: url(/public/fonts/TitilliumWeb-Bold.ttf);
    font-display: swap;
}


//  CALL TO ACTION - CALL COMUNIDAD - REDES

.call-action {
    height: 224px;
    background-color: #EDF6FB;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 4px #37A2CE;

    p {
        margin: 2rem 0;
    }

    button {
        margin-top: 3rem;
    }

}

.call-comunidad {
    padding-top: 4rem;
    height: 400px;
}

.redes {
    margin-top: 2rem;

    a {
        margin: 0 2rem;
    }
}

// SEPARADOR
.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 7%;
    margin-top: 6rem !important;
    margin-bottom: 6rem;

    h2 {
        font-size: 3.3rem;
    }

    .line {
        height: 2px;
        width: 100%;
        background: #37A2CE;

    }

}

// BUTTONS

.buttons, .buttons-orange, .buttons-pink, .buttons-blue {
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #EF5B5B;


    button {
        border-color: white;
        color: white;
        margin: 0 1.5rem;
    }
}

.buttons-orange{
    background-color: #FF7B00;
}

.buttons-pink{
    background-color: #E12B81;
}

.buttons-blue{
    background-color: #0066B3;
}