// RESETS

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;


    h1 {}

    h2 {
        font-family: titilium-bold;
        font-size: 3.6rem;
        color: #37A2CE;
    }

    h3 {
        font-family: titilium;
        font-size: 2.4rem;
    }

    h4 {
        font-family: titilium;
        font-size: 2rem;
        color: white;
    }

    h5 {
        font-family: titilium;
        font-size: 1.8rem;


    }

    p {
        font-family: titilium;
        font-size: 1.7rem;
    }

    a {
        font-family: titilium;
        font-size: 1.8rem;
        text-decoration: none;
    }

    li {
        font-size: 1.8rem;
        margin: 0 3rem 0 3rem;
        list-style: none;
    }


}

.margin-title {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.p-bold {
    font-family: titilium-bold;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inherit-mobile{
    display: none;
}

.line-total{
margin: 4rem 0;
}

.contenedor{
    margin: 2rem;
}
// FONTS

@font-face {
    font-family: "titilium";
    src: url(/public/fonts/TitilliumWeb-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "titilium-bold";
    src: url(/public/fonts/TitilliumWeb-Bold.ttf);
    font-display: swap;
}

// CONSTRUCCION

.construccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    padding-top: 13rem;

    div{
        margin: 1.5rem;

        img{
            width: 45rem;
        }
    }
}


@media (max-width : 768px) {

    h2 {
        font-size: 3.2rem !important;
    }

    h3 {
        font-size: 2rem !important;
    }

    .none-cel {
        display: none;
    }
    .none-mobile{
        display: none;
    }
    .inherit-mobile{
        display: inherit;
    }
}

@media (max-width : 570px) {
    h2 {
        font-size: 2.8rem !important;
    }

    h3 {
        font-size: 1.8rem !important;
    }

    p{
        font-size: 1.5rem !important;
    }
}

@media (max-width : 460px) {
    h2 {
        font-size: 2.6rem !important;
    }

    h3 {
        font-size: 1.6rem !important;
    }

}
