// SEPARADOR
.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 7%;
    margin-top: 3rem !important;
    margin-bottom: 1.5rem;

    h2 {
        font-size: 3rem;
        margin: 0;
    }

    .line {
        height: 2px;
        background: #37A2CE;
        display: flex;
        justify-content: start;

    }

}

// SEPARADOR 2

.separador2 {
    margin-top: 8rem !important;

    .col-md-5 {
        padding-left: 7%;
    }

    h2 {
        text-align: left !important;
        padding-left: 7%;
        font-family: titilium-bold;
        text-align: center;
        margin: 0;
        font-size: 3.4rem;
        color: #1F2F36;
        margin-bottom: 1rem;


    }

    h3 {
        color: #37A2CE;
        padding: 0 !important;

    }

    .title-line {
        h3 {
            width: 45rem;

        }

        display: flex;
        align-items: center;
    }

}

// SEPARADOR 3
.contenedor-separador3 {
    padding-left: 6.4%;
    margin: 1rem 0;
}

.separador3 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #B5DBEC;
    padding: 1.5rem 0.5rem;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;

    h3 {
        font-family: titilium-bold;
        color: #1F2F36;
        font-size: 2.4rem;
    }

}


@media (max-width: 768px) {
    .separador2 {
        .title-line {
            display: none
        }
    }

}