// SEPARADOR
.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 7%;
    margin-top: 6rem !important;
    margin-bottom: 6rem;

    h2 {
        font-size: 3.3rem;
    }

    .line {
        height: 2px;
        background: #37A2CE;

    }

}

