.slider{
    display: flex;
}

.slider-fixed{
    .slider-div{
        img{
            margin: 0 0.5rem;
        }}
}

.title-slider{
    display: flex;
    justify-content: center;
    h4{
        text-align: right;
        color: #37A2CE;
    }
}
.slider-div{
img{
    margin: 0 1rem;
}
 
}

.slider-mobile, .slider-desktop, .slider-2{
    display: none;

}

@media (max-width: 1200px) {
.slider-fixed{
    display: none !important;
}
.slider-desktop{
    display: inherit;
}
}
@media (max-width: 856px) {
    .slider-desktop{
        display: none !important;
    }

    .slider-2{
        display: inherit !important;
    }
}

@media (max-width: 768px) {
.title-slider{
    h4{
            text-align: center;
    }

}
}

@media (max-width: 690px) {
.slider{
    h4{
        font-size: 1.65rem;
    }
}
}
@media (max-width: 504px) {
    .slider-mobile{
        display: inherit;
    }

    .slider-2{
        display: none !important;
    }
     
}