// PRODUCTOS
#tintas-sublimacion,
#papeles-sublimacion,
#subli-protector,
#subli-plotter,
#dtf-products,
#transfer-products,
#plotter-products,
.top-products,
#fotografico-magnetico,
#fotografico-autoadhesivo,
#fotografico-resinado {
    margin-top: 8rem;

    .detail {
        padding-left: 7%;

        h2 {
            font-size: 3.4rem;
            color: black;
        }

        h3 {
            margin-bottom: 2rem;
            font-size: 2rem;
            color: #37A2CE;
        }
    }

    .description {
        padding-right: 7%;
        display: flex;
        align-items: center;
        background-color: #B5DBEC;
        height: 146px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;


        .caracteristicas {
            display: flex;
            align-items: center;

            li {
                margin: 1.8rem;
            }

            .lis-caracteristicas {
                display: flex;
                align-items: center;

                li {
                    margin: 1.8rem;
                }
            }

        }
    }

    .icons {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3rem;

            li {
                display: flex;
                align-items: center;
                width: 16rem;
                margin-top: 1rem;
            }

            h4 {
                color: #37A2CE;
                font-size: 1.8rem;
                margin-left: 1rem;
            }
        }
    }

    .products {
        margin-top: 6rem;
        padding-left: 5%;
        margin-bottom: 2rem;

        .col-lg-6 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 1.8rem;
        }

        .right h3 {
            margin-bottom: 1rem;
        }

        .img-left,
        .img-left1 {
            position: relative;

            .title-products {
                width: 30rem;
                position: absolute;
                display: flex;
                justify-content: space-around;
                align-items: center;
                top: 14%;
                left: 48%;
            }

        }

        .img-left1 {
            .title-products {
                width: 50rem;
                left: 18%;
                top: -2%;

            }
        }

        .dtf-columns {
            col {
                .title-products {
                    display: flex;
                    justify-content: center;
                    margin-left: 25%;

                    .ico-h4 {
                        margin-left: 45%;
                    }
                }
            }

            .description-products {}
        }

        .products-subtitles {
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 0.5rem;

            h4 {
                color: black;
                font-size: 1.4rem;
                margin: 0 2rem;
            }


            .subtitulo1 {
                color: #37A2CE;
                font-family: titilium-bold;
            }

        }

        h3 {
            font-family: titilium-bold;
            text-align: center;
            margin: 0;
            font-size: 3.2rem;
        }

        li {
            color: #37A2CE;
            font-size: 1.6rem;
        }

        // PAPELES - PLOTTER
        .ul-products,
        .ul-azul {
            display: flex;
            justify-content: start;

            ul {
                display: flex;
                justify-content: center;
                padding: 0;
                width: 100%;

                li {
                    width: 100% !important;

                }

            }

            .products-a {
                width: 100% !important;
                display: flex;
                align-items: center;
                margin-top: 1rem;
                height: 4rem;
            }

            .products-b {
                width: 100% !important;
                display: flex;
                align-items: start;
                height: 13rem;
                margin-top: 1rem;

            }

            .products-c {
                display: flex;
                width: 100% !important;
                justify-content: start;
                align-items: center;
                height: 6rem;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }

        }

    }
}

// PLOTTER
.plotter-banner {
    display: flex;
    justify-content: end;
}

// LINE
.line {
    height: 2px;
    width: 100%;
    background: #37A2CE;

}

// EJEMPLOS
.products-ejemplos {
    display: flex;
    justify-content: end;
    margin-top: 5rem !important;
    margin-bottom: 5rem;

    li {
        margin: 0 1rem;
    }
}


@media (max-width : 1360px) {
    .products {

        .ul-products,
        .ul-azul {
            li {
                font-size: 1.4rem !important;
            }
        }
    }

    .products-a {
        margin-bottom: 1rem;
    }

    .products-b {
        height: 10rem !important;
    }

    .products-c {
        margin-top: 2.5rem !important;
    }


}

@media (max-width: 1205px) {
    .products {
        .products-b {
            height: 13rem !important;
        }

        .title-products {
            h3 {
                font-size: 2.4rem !important;
            }

            img {
                width: 7rem;
            }

            top: 16% !important;
            left: 42% !important;
        }

    }
    .img-left img, .img-left1 img{
        margin-bottom: 2rem;
    }
    .img-left1 {
        .title-products {
            width: 40rem !important;
            left: 18% !important;
            top: 15% !important;

        }
    }
}

@media (max-width: 991px) {
    .icons {
        ul {
            flex-wrap: wrap;

            li {
                margin: 2rem;
            }
        }
    }

    .detail {
        h2 {
            text-align: left;
        }
    }

    .products {

        .img-left,
        .img-left1 {
            position: inherit !important;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            margin-bottom: 4rem;
        }

        .title-products {
            position: inherit !important;
            margin-bottom: 1rem !important;

            h3 {
                font-size: 3rem !important;

            }

        }

        .products-b {
            height: 8rem !important;
        }

    }


    .img-left1 {
        .title-products {
            position: inherit !important;
            margin-bottom: 1rem !important;

            h3 {
                font-size: 3rem !important;
            }
        }


    }
}

@media (max-width: 800px) {
    .detail {
        p {
            display: none;
        }
    }
}

@media (max-width: 768px){
    .ul-products,
    .ul-azul {
        ul {
            flex-wrap: wrap;

            li {

                div {
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: center !important;
                    height: auto !important;
                    margin: 1.5rem 0 !important;

                    p {
                        text-align: center !important;
                    }

                }
            }
        }
    }
}


@media (max-width: 550px) {
    .caracteristicas {
        .lis-caracteristicas {
            flex-wrap: wrap;
            padding-top: 1rem;

            li {
                text-align: center;
                font-size: 1.6rem;
            }
        }
    }

    .products {
        .title-products {
            h3 {
                font-size: 2.6rem !important;

            }

        }
    }

    .img-left1 {
        .title-products {
            h3 {
                font-size: 2.6rem !important;
            }

        }
    }




}